/* Styles.css - Mobile first */
.hide-scrollbar {
    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.hide-scrollbar::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
    display: none;
}

.scroll {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    /* overflow-y: hidden; */
    /* overflow-x: auto; */
    scroll-snap-type: both proximity;
        /* -webkit-overflow-scrolling: touch; */

}


 .scroll > div { 
    scroll-snap-align: unset;
 } 

.slide {
    /* height: 100vh; */
    /* width: 200vw; */
    padding-top: 20vh;
    padding-left: 0vw;
    padding-right: 20vw;
    padding-bottom: 10vh;
    visibility: visible;

    /* padding-right: 100px; */

    /* visibility: visible; */
    /* font-variant-numeric: tabular-nums;
    -webkit-font-smoothing: auto; */
}

.caption {
    pointer-events: none;
    position: fixed;
    top: 5.5em;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: 100;
    line-height: 1em;
    font-variant-numeric: tabular-nums;
    -webkit-font-smoothing: auto;
}

.helper {
    position: fixed;
    bottom: 0.5em;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: 100;
}

.model-link {
    position: fixed;
    bottom: 0.5em;
    left: 50%;
    font-size: 1em;
    font-weight: 100;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
}

